	@font-face
{
	font-family: Roboto;
	src: url(font.ttf);
}

.titles
{
	margin-bottom: 50px;
	text-align: center;
	width: 100%;

}


.animate
{
	animation-duration: 1.3s;
	animation-fill-mode: both;
	animation-name: fade;
	webkit-animation-duration: 1.3s;
	webkit-animation-fill-mode: both;
	webkit-animation-name: fade;
}


h1
{
	font-family: Roboto;
	font-size: 6.5em;
	font-weight: 400;
	margin: 0;
}

.links
{
	font-family: Roboto;
	font-size: 27px;
	margin-bottom: 1px;
	margin-left: -15px;
	margin-top: -1px;
	text-align: center;
}

.show
{
	opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 0s; /*Скорость перехода состояния элемента*/
	animation: show 1.15s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: 1.15s; /* Задержка перед началом */
}

.projects
{
	font-family: Roboto;
	font-size: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: -475px;
	text-align: center-right;
}

@keyframes fade
{
	0%
	{
		ms-transform: translateY(-200px);
		opacity: 0;
		transform: translateY(-200px);
		webkit-transform: translateY(-200px);
	}
	100%
	{
		ms-transform: translateY();
		opacity: 1;
		transform: translateY();
		webkit-transform: translateY();
	}
}

@keyframes show{
	0%
	{
		opacity:0;
	}
	100% 
	{
		opacity:1;
	}
}